// Place all the styles related to the api/answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.editor {
  stroke: #e2e2e2;
  background-color: white;
  white-space: pre-wrap;
  tab-size: 4;
  position: relative;
  box-sizing: border-box;
  width: 600px;
  margin-left: 180px;
  padding: 44px 0 0;
  transition: border-color .2s ease-in-out 0s;

}

.answers-count {
  margin-left: 180px;
  font-weight: 500;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  width: 600px;
  font-size: 18px;
  padding-bottom: 7px;
}

.answer-index {
  display: block;
  width: 600px;
  margin-left: 180px;
}

.question-answer-item {
  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  font-size: 15px;
  line-height: 1.6;
  padding: 16px 0;
}

.name {
  margin-left: 5px;
  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo";
  font-size: 15px;
}

.answer-item-index {
  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  font-size: 15px;
  line-height: 1.6;
  padding: 16px 0;
  border-bottom: 1px solid #e2e2e2;
}

.asker-name {
  display: block;
  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  font-size: 15px;
  line-height: 1.2em;
  margin-bottom: 2px;
}
