// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-container {
  background-image: url('quora.png');
  height: 966px;
  width: 100%;
}

.session-form-container {
  background: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 5px #888;
  border-radius: 4px;
  padding-top: 25px;
  width: 650px;
  position: absolute;
  bottom: initial;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: hidden;
  top: 10%;
  text-align: center;
}

.signup-form-container {
  float: left;
  padding-left: 32px;

}

.login-form-container {
  float: right;
  padding-right: 32px;
}

.main-logo {
  color: #c40d26;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 70px;
}

#login-header, #signup-header {
  font-size: 13px;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica;
  display: flex;

}

.tagline {
  color:#999;
  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro", serif;
  font-weight: 400;
  font-size: 19px;
}

.login-input-field, .signup-input-field  {
  background-color: #EEE;
  font-size: 15px;
  line-height: 1.4;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 32px;
  margin-bottom: 8px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
  display: block;
}

.login-input-field:focus, .signup-input-field:focus {
  outline: none;
  border-color: #999;
}


.signup-button, .login-button {
  float: right;
  font-size: 15px;
  line-height: 1.4;
  box-sizing: border-box;
  border-radius: 3px;
  background: #3e78ad;
  color: #fff;
  border: 1px solid #3a66ad;
  margin-bottom: 20px;
}

.demo-button {
  display: block;
  clear: both;
}

.login-errors, .signup-errors {
  clear: both;
  color: red;
  word-wrap: break-word;
  border: 1px solid #b92b27;
  border-radius: 4px;
  padding: 8px;
  margin-right: 7px;
}

.login-form-box, .signup-form-box {
}
