// Place all the styles related to the api/topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-table {
  width: 100px;
  height: 100px
}

.topic-view {
  background: transparent;
}

.topic {
  font-family: 'q_serif', Georgia,Times, "Times New Roman", "Hiragino Kaku Gothic Pro", "Meiryo", serif;
}

.topics-list {
  list-style: none;
}

.topic-list-item {
  margin: 4px;
}
