// Place all the styles related to the api/topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feeds-container {
  width: 142px;
  height: 328px;
  margin: 100px 30px 0 0;
  font-size: 13px;
}

.feed-content-fixed {
  position: fixed;
}

.topic-view-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #fafafa;
  min-width: 1000px;
}

.topic {
  font-family: 'q_serif', Georgia, Times, "Times New Roman", "Hiragino Kaku Gothic Pro", "Meiryo", serif;
}

.topics-list {
  list-style: none;
}

.topic-list-item {
  margin: 15px 0;
  color: #666;
}

.topic-list-item:hover {
  color: #2b6dad;
}

.selected-topic  {
  background: #ececec;
  color: #666;
  border-radius: 3px;
  padding: 4px 5px;
  display: inline-block;
  width: 100%;
}

.feeds-title {
  color: #333;
  font-weight: 500;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 16px;
  padding-bottom: 8px;
  font-size: 15px;
  letter-spacing: 0;
}

.feed {
  margin-bottom: 4px;
}
