.feeds-container {
    width: 142px;
    height: 328px;
    margin-left: 30px;
    font-size: 13px;
    position: fixed;
}

.home-page-container {
  overflow: auto;
  background: #fafafa;
  min-width: 1000px;
}

.feeds-title {
  color: #333;
  font-weight: 500;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 16px;
  padding-bottom: 8px;
  font-size: 15px;
  letter-spacing: 0;
  text-transform: none;

}

.feed {
    margin-bottom: 4px;
}
